@media (max-width: 575.98px) { 

 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .article_feature{
        min-height: 250px;
    }
    .add{
        min-height: 250px;
        margin-top: 25px;
    }
    .article_listing{
        min-height: 250px;
    }
    .slide_bar{
        min-height: 150px;
        margin-top: 15px;
    }
    .slide_bar_feature{
        min-height: 100px;
        margin-left: 0px;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }